@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&display=swap');

@import 'variables.css';
@import 'responsive.css';

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
}

.row{
    max-width: 1000px;
    margin: 0 auto;
}

h1, h3 {
    font-family: var(--main-type);
    font-weight: 700;
    color: var(--strong-white);
}

h1{
    font-size: 2.1em;
    line-height: 1.3em;
}

#text-box p {
    font-family: var(--main-type);
    color: var(--paragraphs-color);
    font-weight: 400;
}

#text-box {
    background-color: var(--card-bg);
}

#stats p {
    text-transform: uppercase;
    color: var(--paragraphs-color);
    font-family: var(--stats-txt-type);
    font-size: 0.8em;
    letter-spacing: 1px;
}

.accent{
    color: var(--accent);
}

#stats{
    display: flex;
    justify-content: space-between;
}

#img-box{
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: var(--accent);
    background-blend-mode: multiply;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--paragraphs-color);
    margin-top: 30px;
}

.attribution a { 
    color: var( --accent); 
}


